# Algolia
#
# NEXT_PUBLIC_ALGOLIA_INDEX_NAME - The name of the index in Algolia.
# NEXT_PUBLIC_ALGOLIA_APP_ID - The app id for your Algolia account.
# NEXT_PUBLIC_ALGOLIA_API_KEY - The api key for your Algolia account.
# ALGOLIA_ADMIN_API_KEY - The admin api key for your Algolia account.
#
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=""
NEXT_PUBLIC_ALGOLIA_APP_ID=""
NEXT_PUBLIC_ALGOLIA_API_KEY=""
ALGOLIA_ADMIN_API_KEY=""

# Giphy
#
# GIPHY_TOKEN - Giphy API token
#
GIPHY_TOKEN=""

# GraphCMS
#
# GRAPHCMS_CONTENT_API - The URL of the GraphCMS Content API.
#
# GRAPHCMS_CONTENT_API_TOKEN_DEVELOP - The token used to authenticate to the Content API
# and get only `PUBLISHED` content.
#
# GRAPHCMS_CONTENT_API_TOKEN_PRODUCTION: The token used to authenticate to the Content API
# and get only `PUBLISHED` and `DRAFT` content.
#
# WEBHOOK_SECRET_KEY - The secret key used to sign webhooks.
#
GRAPHCMS_CONTENT_API=""
GRAPHCMS_CONTENT_API_TOKEN_DEVELOP=""
GRAPHCMS_CONTENT_API_TOKEN_PRODUCTION=""
WEBHOOK_SECRET_KEY=""

# Revue
#
# REVUE_TOKEN - Revue API token to manage newsletter (https://www.getrevue.co/app/integrations)
#
REVUE_TOKEN=""

# Supabase
#
# NEXT_PUBLIC_SUPABASE_URL - A RESTful endpoint for querying and managing your database.
#
# NEXT_PUBLIC_SUPABASE_ANON_KEY - This key is safe to use in a browser if you
# have enabled Row Level Security for your tables and configured policies.
#
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# YouTube
#
# YOUTUBE_API_KEY - YouTube API key
#
YOUTUBE_API_KEY=""