node_modules
.DS_Store

# Remix
/.cache
/build
/public/build
/content/.cache.json

# Custom Build
/dist

# Styles
/app/styles/*.css

# Cypress
/cypress/videos
/cypress/screenshots

# Miniflare
/.mf
.env
