// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$primary-color: #ffffff;
@import 'loaders.css/src/animations/pacman.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}