@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@supports not (backdrop-filter: none) {
  #sticky-nav {
    @apply bg-opacity-100 backdrop-filter-none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold border-b border-gray-700 rounded-t;
  background-color: #282a36;
  color: #f8f8f2;
}

.dark .remark-code-title {
  background-color: #011627;
  color: #d6deeb;
}

.remark-code-title + pre,
.remark-code-title + pre > pre {
  @apply mt-0 rounded-t-none;
}

.mdx-marker {
  @apply block px-4 -mx-4 bg-gray-800 border-l-4 border-blue-500;
}

/* Algolia Search */
.ais-Snippet-highlighted {
  @apply not-italic font-medium text-[#5468FF];
}

.group:hover .ais-Snippet-highlighted {
  @apply text-[#FFEB54] underline;
}

.ais-PoweredBy {
  @apply flex items-center;
}

.ais-PoweredBy-logo {
  @apply block h-[1.2em] w-auto;
}
