@import '@glidejs/glide/dist/css/glide.core.min.css';
@import '@glidejs/glide/dist/css/glide.theme.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

header {
  @apply min-h-20;
}

#hero {
  background: url('/hero.jpeg') center no-repeat;
  background-size: 100%;
  background-position: top;
}

#hero::after,
#dreams::after {
  content: '';
  @apply absolute top-0 left-0 z-10 w-full h-full opacity-75 bg-secondary;
}

#dreams {
  background: url('/dreams.jpeg') center no-repeat;
  background-size: 150% auto;
  background-position: 50% 65%;
}

.container-image {
  max-height: 480px;
}

@media screen and (max-width: 768px) {
  #hero,
  #dreams {
    background-size: cover;
  }

  .container-image {
    max-height: 320px;
  }
}

/*
 * Components
*/
@media screen and (max-width: 640px) {
  .profile-photo {
    width: 300px;
    max-height: 300px;
  }
}

.portfolio-link .portfolio-image {
  max-height: 216px;
  height: 216px;
}

.markdown-blog .embed-responsive {
  @apply overflow-hidden embed-responsive;
}

.markdown-content {
  @apply text-xl;
}

#nprogress .bar {
  height: 8px;
}

.loading {
  position: relative;
  background-color: #e2e2e2;
}

.loading::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  animation: loading 1.5s infinite;
}

.title.loading {
  height: 1.2rem;
}

.description.loading {
  height: 40px;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.drop-shadow {
  filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.3));
}
