@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@tailwind components;
@tailwind utilities;

.prose h2 .icon::after,
.prose h3 .icon::after,
.prose h4 .icon::after,
.prose h5 .icon::after,
.prose h6 .icon::after {
  @apply absolute top-0 left-0 hidden w-6 h-6 mr-2 font-bold text-white;

  content: url('/static/link.svg');
}

.prose h2:hover > a > .icon::after,
.prose h3:hover > a > .icon::after,
.prose h4:hover > a > .icon::after,
.prose h5:hover > a > .icon::after,
.prose h6:hover > a > .icon::after {
  @apply inline;
}

.remark-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold border-b border-gray-700 rounded-t;

  background-color: #282a36;
  color: #f8f8f2;
}

.remark-code-title + pre,
.remark-code-title + pre > pre {
  @apply mt-0 rounded-t-none;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  tab-size: 4;

  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.tag.class-name {
  color: #96cbfe !important;
  text-decoration: none !important;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a !important;
}
