@import "~@glidejs/glide/dist/css/glide.core.min.css";
@import "~@glidejs/glide/dist/css/glide.theme.min.css";

@tailwind base;

@tailwind components;

.markdown p {
  @apply my-3;
}

.markdown p:first-child {
  @apply mt-0;
}

.markdown p:last-child {
  @apply mb-0;
}

.portfolio-link .portfolio-image,
.portfolio-link .portfolio-meta {
  @apply border-transparent;
}

.portfolio-link:hover .portfolio-image,
.portfolio-link:hover .portfolio-meta {
  @apply border-indigo-700;
}

body.dark-mode .portfolio-link:hover .portfolio-image,
body.dark-mode .portfolio-link:hover .portfolio-meta {
  @apply border-white;
}

.markdown-content {
  @apply text-xl;
}

.markdown-content ul,
.markdown-content ol,
.markdown-content :not(pre) > div {
  @apply my-4;
  @apply mx-0;
  @apply leading-relaxed;
}

.markdown-content code {
  font-family: "Fira Code", monospace;
}

.markdown-content ul {
  @apply list-disc;
  @apply pl-4;
}

.markdown-content .prism-code {
  tab-size: 2;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: red;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #4c51bf;
  border-left-color: #4c51bf;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Toggle Dark Mode */
.toggleWrapper input {
  left: -99em;
}
.toggleWrapper .toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 25px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggleWrapper .toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-22.5deg);
}
.toggleWrapper .toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.toggleWrapper .toggle__handler .crater--1 {
  top: 9px;
  left: 5px;
  width: 2px;
  height: 2px;
}
.toggleWrapper .toggle__handler .crater--2 {
  top: 14px;
  left: 11px;
  width: 3px;
  height: 3px;
}
.toggleWrapper .toggle__handler .crater--3 {
  top: 5px;
  left: 12.5px;
  width: 4px;
  height: 4px;
}
.toggleWrapper .star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}
.toggleWrapper .star--1 {
  top: 5px;
  left: 17.5px;
  z-index: 0;
  width: 15px;
  height: 1.5px;
}
.toggleWrapper .star--2 {
  top: 9px;
  left: 14px;
  z-index: 1;
  width: 15px;
  height: 1.5px;
}
.toggleWrapper .star--3 {
  top: 13.5px;
  left: 20px;
  z-index: 0;
  width: 15px;
  height: 1.5px;
}
.toggleWrapper .star--4,
.toggleWrapper .star--5,
.toggleWrapper .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggleWrapper .star--4 {
  top: 8px;
  left: 5.5px;
  z-index: 0;
  width: 1px;
  height: 1px;
  transform: translate3d(1.5px, 0, 0);
}
.toggleWrapper .star--5 {
  top: 16px;
  left: 8.5px;
  z-index: 0;
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(1.5px, 0, 0);
}
.toggleWrapper .star--6 {
  top: 18px;
  left: 14px;
  z-index: 0;
  width: 1px;
  height: 1px;
  transform: translate3d(1.5px, 0, 0);
}
.toggleWrapper input:checked + .toggle {
  background-color: #749dd6;
}
.toggleWrapper input:checked + .toggle:before {
  color: #749ed7;
}
.toggleWrapper input:checked + .toggle:after {
  color: #fff;
}
.toggleWrapper input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(20px, 0, 0) rotate(0);
}
.toggleWrapper input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
.toggleWrapper input:checked + .toggle .star--1 {
  width: 1px;
  height: 1px;
}
.toggleWrapper input:checked + .toggle .star--2 {
  width: 2px;
  height: 2px;
  transform: translate3d(-2.5px, 0, 0);
}
.toggleWrapper input:checked + .toggle .star--3 {
  width: 1px;
  height: 1px;
  transform: translate3d(-3.5px, 0, 0);
}
.toggleWrapper input:checked + .toggle .star--4,
.toggleWrapper input:checked + .toggle .star--5,
.toggleWrapper input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.toggleWrapper input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggleWrapper input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggleWrapper input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@tailwind utilities;

.drop-shadow {
  filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.3));
}
