@import "~@glidejs/glide/dist/css/glide.core.min.css";
@import "~@glidejs/glide/dist/css/glide.theme.min.css";

@tailwind base;

@tailwind components;

.markdown p {
  @apply my-3;
}

.markdown p:first-child {
  @apply mt-0;
}

.markdown p:last-child {
  @apply mb-0;
}

.portfolio-link:hover .portfolio-image,
.portfolio-link:hover .portfolio-meta {
  @apply border-indigo-700;
}

.markdown-content {
  font-size: 1.25em;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6,
.markdown-content p,
.markdown-content ul,
.markdown-content ol,
.markdown-content :not(pre) > div {
  margin: 1em 0;
  line-height: 1.6em;
}

.markdown-content h2 {
  border-bottom: 1px solid #d3d3d3;
}

.markdown-content h1,
.markdown-content h2 {
  @apply text-4xl;
}

.markdown-content code {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #272822;
  color: #f8f8f2;
  font-family: "Fira Code", monospace;
}

.markdown-content .prism-code {
  line-height: 1.25;
  padding: 0.7em;
  overflow: auto;
  border-radius: 0.3em;
  font-size: 16px;
  margin: 1.5em 0;
  tab-size: 2;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: red;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: red;
  border-left-color: red;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind utilities;

.drop-shadow {
  filter: drop-shadow(0px 10px 12px rgba(0, 0, 0, 0.3));
}
