body {
  font-family: 'Poppins', system-ui;
  padding-top: 56px;
}

#nprogress .bar {
  z-index: 2200 !important;
}

@media (min-width: 600px) {
  body {
    padding-top: 64px;
  }
}

@import '~react-animated-slider/build/horizontal.css';
@import './_fonts.css';